@import "tailwindcss";

@source "../**/*.html";
@source "../**/*.js";

@layer components {
    #content a {
        @apply text-[#1155cc] underline;
    }

    article {
        @apply border-b border-[#333];
    }
}