@import "tailwindcss";

@source "../**/*.html";
@source "../**/*.js";

@theme {
    --color-pronoun: #C71585;
    --color-discord: #5865F2;
    --color-gpg: #0093DD;
    --color-onlyfans: #00AFF0;
    --color-steam: #000000;
    --color-epic: #313131;
    --color-gog: #86328A;
    --color-ps: #0070D1;
    --color-valorant: #FA4454;
    --color-reddit: #FF4500;
    --color-youtube: #FF0000;
    --color-twitch: #9146FF;
    --color-signal: #3B45FD;
    --color-tumblr: #36465D;
    --color-xhs: #FF2442;
    --color-mastodon: #6364FF;
    --color-pinterest: #BD081C;
    --color-github: #181717;
    --color-bluesky: #1185FE;
    --color-pdx: #101010;
    --color-activision: #000000;
    --color-blahaj: #4f90a6;
}

@layer components {
    .page {
        @apply relative w-screen h-screen bg-neutral-900;
    }

    .page-iframe {
        @apply block w-full border-0;
        height: 90vh;
    }

    .page-footer {
        @apply absolute bottom-5 left-1/2 -translate-x-1/2 flex gap-5 z-10;
    }

    .hoi4 {
        --color: var(--color-pdx);
    }

    .warno {
        --color: var(--color-yellow-900);
    }

    .minecraft {
        --color: var(--color-green-900);
    }

    .steam {
        --color: var(--color-steam);
    }

    .epic {
        --color: var(--color-epic);
    }

    .gog {
        --color: var(--color-gog);
    }

    .playstation {
        --color: var(--color-ps);
    }

    .xbox {
        --color: var(--color-green-500);
    }

    .siege {
        --color: var(--color-yellow-300);
    }

    .valorant {
        --color: var(--color-valorant);
    }

    .rocket {
        --color: var(--color-blue-400);
    }

    .battlefield {
        --color: var(--color-red-500);
    }

    .github {
        --color: var(--color-github);
    }

    .discord {
        --color: var(--color-discord);
    }

    .pronoun {
        --color: var(--color-pronoun);
    }

    .blahaj {
        --color: var(--color-blahaj);
    }

    .gpg {
        --color: var(--color-gpg);
    }

    .onlyfans {
        --color: var(--color-onlyfans);
    }

    .bluesky {
        --color: var(--color-bluesky);
    }

    .github {
        --color: var(--color-github);
    }

    .pinterest {
        --color: var(--color-pinterest);
    }

    .reddit {
        --color: var(--color-reddit);
    }

    .signal {
        --color: var(--color-signal);
    }

    .tumblr {
        --color: var(--color-tumblr);
    }

    .twitch {
        --color: var(--color-twitch);
    }

    .youtube {
        --color: var(--color-youtube);
    }

    .xhs {
        --color: var(--color-xhs);
    }

    .mastodon {
        --color: var(--color-mastodon);
    }

    .activision {
        --color: var(--color-activision);
    }

    .starbreeze {
        --color: var(--color-orange-900);
    }

    .btn {
        @apply inline-flex items-center gap-1 font-bold py-2 px-4 rounded;
        background-color: var(--color);
    }

    .gray {
        --color: var(--color-gray-500);
    }

    .red {
        --color: var(--color-red-500);
    }

    .green {
        --color: var(--color-green-500);
    }

    .blue {
        --color: var(--color-blue-500);
    }

    .white {
        --color: var(--color-neutral-900);
    }

    .input {
        @apply bg-neutral-800 border border-neutral-700 rounded max-w-md mx-auto py-4 px-6 text-neutral-100 text-center shadow-md;
    }

    .title {
        @apply text-neutral-100 font-bold mb-4 text-xl text-center;
    }

    .background {
        @apply flex items-center justify-center min-h-screen min-w-full bg-neutral-900;
    }

    img, svg {
        @apply h-4 w-4;
    }

    .invert {
        @apply invert;
    }

    .btn:hover {
        background-color: color-mix(
                in srgb,
                var(--color) 80%,
                black 20%
        );
    }
}