@import "tailwindcss";

@theme {
    --color-pronoun: #C71585;
    --color-discord: #5865F2;
    --color-gpg: #0093DD;
    --color-onlyfans: #00AFF0;
    --color-steam: #000000;
    --color-epic: #313131;
    --color-gog: #86328A;
    --color-ps: #0070D1;
    --color-valorant: #FA4454;
    --color-reddit: #FF4500;
    --color-youtube: #FF0000;
    --color-twitch: #9146FF;
    --color-signal: #3B45FD;
    --color-tumblr: #36465D;
    --color-xhs: #FF2442;
    --color-mastodon: #6364FF;
    --color-pinterest: #BD081C;
    --color-github: #181717;
    --color-bluesky: #1185FE;
    --color-pdx: #101010;
    --color-activision: #000000;
}

@layer components {
    .page {
        @apply relative w-screen h-screen bg-neutral-900;
    }

    .page-iframe {
        @apply absolute top-0 left-0 w-full h-[90svh] border-0;
    }

    .page-footer {
        @apply absolute bottom-5 left-1/2 -translate-x-1/2
        flex gap-5 z-10;
    }

    .hoi4 {
        @apply bg-pdx;
    }

    .warno {
        @apply bg-yellow-900;
    }

    .minecraft {
        @apply bg-green-900;
    }

    .steam {
        @apply bg-steam hover:bg-gray-700;
    }

    .epic {
        @apply bg-epic hover:bg-gray-800;
    }

    .gog {
        @apply bg-gog hover:bg-purple-700;
    }

    .playstation {
        @apply bg-ps hover:bg-blue-800;
    }

    .xbox {
        @apply bg-green-500 hover:bg-green-700;
    }

    .siege {
        @apply bg-yellow-300 hover:bg-yellow-500;
    }

    .valorant {
        @apply bg-valorant hover:bg-red-500;
    }

    .rocket {
        @apply bg-blue-400 hover:bg-blue-600;
    }

    .battlefield {
        @apply bg-red-500 hover:bg-red-700;
    }

    .github {
        @apply bg-github hover:bg-gray-900;
    }

    .discord {
        @apply bg-discord hover:bg-indigo-500;
    }

    .pronoun {
        @apply bg-pronoun hover:bg-pink-400;
    }

    .blahaj {
        @apply bg-sky-200 hover:bg-sky-400;
    }

    .gpg {
        @apply bg-gpg hover:bg-sky-500;
    }

    .onlyfans {
        @apply bg-onlyfans hover:bg-sky-500;
    }

    .bluesky {
        @apply bg-bluesky hover:bg-blue-600;
    }

    .github {
        @apply bg-github hover:bg-gray-700;
    }

    .pinterest {
        @apply bg-pinterest hover:bg-red-600;
    }

    .reddit {
        @apply bg-reddit hover:bg-orange-600;
    }

    .signal {
        @apply bg-signal hover:bg-blue-500;
    }

    .tumblr {
        @apply bg-tumblr hover:bg-slate-700;
    }

    .twitch {
        @apply bg-twitch hover:bg-purple-600;
    }

    .youtube {
        @apply bg-youtube hover:bg-red-600;
    }

    .xhs {
        @apply bg-xhs hover:bg-rose-600;
    }

    .mastodon {
        @apply bg-mastodon hover:bg-indigo-500;
    }

    .activision {
        @apply bg-activision;
    }

    .starbreeze {
        @apply bg-orange-900;
    }

    .btn {
        @apply inline-flex items-center gap-1 font-bold py-2 px-4 rounded;
    }

    .gray {
        @apply bg-gray-500 hover:bg-gray-700 ;
    }

    .red {
        @apply bg-red-500 hover:bg-red-700;
    }

    .green {
        @apply bg-green-500 hover:bg-green-700 ;
    }

    .blue {
        @apply bg-blue-500 hover:bg-blue-700 ;
    }

    .white {
        @apply bg-neutral-900 hover:bg-neutral-700;
    }

    .input {
        @apply bg-neutral-800 border border-neutral-700 rounded max-w-md mx-auto py-4 px-6 text-neutral-100 text-center shadow-md;
    }

    .title {
        @apply text-neutral-100 font-bold mb-4 text-xl text-center;
    }

    .background {
        @apply flex items-center justify-center min-h-screen min-w-full bg-neutral-900;
    }

    img, svg {
        @apply h-4 w-4;
    }

    .invert {
        @apply invert;
    }
}