@import "tailwindcss";

@layer components {
    .hoi4 {
        @apply bg-gray-100;
    }

    .warno {
        @apply bg-yellow-100;
    }

    .minecraft {
        @apply bg-green-100;
    }

    .steam {
        @apply bg-gray-900 hover:bg-gray-700;
    }

    .epic {
        @apply bg-gray-600 hover:bg-gray-800;
    }

    .gog {
        @apply bg-purple-500 hover:bg-purple-700;
    }

    .playstation {
        @apply bg-blue-600 hover:bg-blue-800;
    }

    .xbox {
        @apply bg-green-500 hover:bg-green-700;
    }

    .siege {
        @apply bg-yellow-300 hover:bg-yellow-500;
    }

    .valorant {
        @apply bg-red-300 hover:bg-red-500;
    }

    .rocket {
        @apply bg-blue-400 hover:bg-blue-600;
    }

    .battlefield {
        @apply bg-red-500 hover:bg-red-700;
    }

    .github {
        @apply bg-gray-700 hover:bg-gray-900;
    }

    .discord {
        @apply bg-indigo-300 hover:bg-indigo-500;
    }

    .pronoun {
        @apply bg-pink-200 hover:bg-pink-400;
    }

    .blahaj {
        @apply bg-sky-200 hover:bg-sky-400;
    }

    .gpg {
        @apply bg-sky-300 hover:bg-sky-500;
    }

    .onlyfans {
        @apply bg-sky-300 hover:bg-sky-500;
    }

    .bluesky {
        @apply bg-blue-400 hover:bg-blue-600;
    }

    .github {
        @apply bg-gray-900 hover:bg-gray-700;
    }

    .pinterest {
        @apply bg-red-400 hover:bg-red-600;
    }

    .reddit {
        @apply bg-orange-400 hover:bg-orange-600;
    }

    .signal {
        @apply bg-blue-300 hover:bg-blue-500;
    }

    .tumblr {
        @apply bg-slate-500 hover:bg-slate-700;
    }

    .twitch {
        @apply bg-purple-400 hover:bg-purple-600;
    }

    .youtube {
        @apply bg-red-400 hover:bg-red-600;
    }

    .xhs {
        @apply bg-rose-400 hover:bg-rose-600;
    }

    .mastodon {
        @apply bg-indigo-300 hover:bg-indigo-500;
    }

    .activision {
        @apply bg-red-100;
    }

    .starbreeze {
        @apply bg-orange-100;
    }

    .btn {
        @apply inline-flex items-center gap-1 font-bold py-2 px-4 rounded text-gray-700;
    }

    .gray {
        @apply bg-gray-500 hover:bg-gray-700 ;
    }

    .red {
        @apply bg-red-500 hover:bg-red-700;
    }

    .green {
        @apply bg-green-500 hover:bg-green-700 ;
    }

    .blue {
        @apply bg-blue-500 hover:bg-blue-700 ;
    }

    .white {
        @apply bg-neutral-100 hover:bg-neutral-300;
    }

    .input {
        @apply bg-neutral-800 border border-neutral-700 rounded max-w-md mx-auto py-4 px-6 text-neutral-100 text-center shadow-md;
    }

    .title {
        @apply text-neutral-100 font-bold mb-4 text-xl text-center;
    }

    .background {
        @apply flex items-center justify-center min-h-screen min-w-full bg-neutral-900;
    }

    img, svg .icon {
        @apply h-4 w-4;
    }
}